@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

body {
    background: rgb(8, 8, 8);
}

h3,
span {
    color: white;
    display: flex;
    justify-content: center;
}

button {
    position: relative;
    left: 47%;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: rgb(255, 0, 40);
    width: 100px;
    height: 40px;
    font-family: "Rubik",
        sans-serif;
    color: white;
    transition: ease .3s;
}

button:hover {
    background: rgb(226, 88, 34);
    color: rgb(8, 8, 8);
}

.container {
    display: flex;
    justify-content: center;
}

.grid {
    width: 200px;
    height: 400px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 127, 255);
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: rgb(0, 204, 255);
}

.mini-grid {
    margin-left: 50px;
    margin-top: 25px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 127, 255);
}

.mini-grid div {
    height: 20px;
    width: 20px;
}